@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

.sub_menu,
.text2,
.content3_text1:nth-child(2),
.content4_box_text p,
footer,
.content3_text_btn,
.content4_box_btn,
.content2_p {
  font-family: 'SUITE-Regular';

}

li.main_menu_list,
.content3_text_btn,
.content5_event_text,
select,
.login_box p .text1,
.content3_text1:nth-child(1),
.content4_box_text h1,
.content5_box_text,
.content2_h2 {
  font-family: 'GmarketSansMedium';
}