* {

    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    display: block;

}

.wrapper {
    max-width: 1600px;
    margin: 0px auto;

}

/* 메뉴 */
header {
    position: fixed;
    top: 3%;
    width: 100%;
    height: 80px;
    z-index: 5;
    margin: 0px auto;
    left: 0;
    transition: 0.5s;

}
.down{
    color: white;
top: 0%;
transition: 0.5s;
    position: fixed;
    background-color: #373737;
}



.up{
    
    width: 100px;
    height: 100px;
    position: fixed;
    right: 2%;
    bottom: 5%;
    z-index: 3;
    animation-name: updown;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;

}
.login_box{

    width: 110px;

    position: fixed;
    right: 2%;
    bottom: 15%;
    z-index: 3;

}
.login,.sign{
    text-align: center;
    width: 90px;
    height: 90px;
    z-index: 1;
    border-radius: 50%;
    position: relative;
    margin: 0px auto;
    opacity: 0;
}
.opacity{
transition: 0.3s;
    opacity: 1;
}
.login_bg,.sign_bg{
    transition: 0.5s;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(126, 171, 41);
    border-radius: 50%;
    transform: scale(0);


}
.login img,.sign img{
 
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 5px;

}
.login p,.sign p{

    z-index: 1;
    position: absolute;

    left: 50%;
    transform: translate(-50%, -50%);
    top: 78%;

}

.login:hover,.sign:hover{
    color: white;
}
.login:hover .login_bg,.sign:hover .sign_bg{
    transform: scale(1);
    transition: 0.5s;
    
}

.sign{

    margin-top: 10px;
}
.up img{
    
    width: 100%;
    height: 100%;

}

@keyframes updown{
    0%{bottom: 1%;}
    50%{bottom: 3%;}
    100%{bottom: 1%;}
}
.header_wrapper {

position: relative;
    max-width: 1170px;
    margin: 0px auto;
    height: 100%;
    display: flex;
    background:white;
    align-items: center;
    justify-content: space-between;

}
.down2{

    background: #373737;
}
.bg{

    position: absolute;
    width: 100%;
    top: 80px;
    height: 300px;
    left: 0;
display:none;
    background: rgba(253, 253, 253, 0.81);


}

.down3{
    background: rgba(82, 81, 81, 0.81);

}
.logo {
    padding: 0 1%;
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo>img {

    width: 100%;
    height: 60%;


}

nav {


    width: 65%;

}

.main_menu {


    display: flex;
    align-items: center;
    width: 100%;


}
/* .main_menu_list{
        height: 300px;
        margin-top: 220px;
  
} */
li.main_menu_list>a {
    width: 145px;
    position: relative;
    height: 80px;
    line-height: 80px;
    text-align: center;
}
li.main_menu_list>a::before{

    content: '';
    width: 0%;
    position: absolute;
    height: 5px;
    background-color: rgb(126, 171, 41);
    right: 50%;
  
    bottom: 0;
}
.main_menu_list:hover.main_menu_list>a::before{
    width: 50%;
    transition: 0.3s;

}
li.main_menu_list>a::after{

    content: '';
    width: 0%;
    position: absolute;
    height: 5px;
    background-color: rgb(126, 171, 41);
    left:  50%;

    bottom: 0;
}
.main_menu_list:hover.main_menu_list>a::after{
    width: 50%;
    transition: 0.3s;

}
.sub_menu {
height: 300px;
    position: absolute;
display: none;
padding-top: 20px;
font-size: 0.8rem;
}

li.sub_menu_list>a {
    width: 145px;
    height:30px;
    line-height:30px;
    text-align: center;

}

li.sub_menu_list>a:hover{
    background-color: rgb(126, 171, 41);
    color: white;
}

/* 슬라이드 */
.main {
    position: relative;
    width: 100%;
    height: 650px;
    overflow: hidden;
}

.main_slide_wrapper,
.main_slide_list img {

    width: 100%;
    height: 100%;
}
.main_slide_list{transition: .5s ease-out;}
.main_slide.animate {
    transition: .5s ease-out;
}


.main_slide {
    position: absolute;
  
    display: flex;
    height: 650px;
    width: 500%;

}


.main_slide_list>a {


    width: 100%;
    height: 100%;

}
.slide_page_box{
    width: 100%;
    height: 100px;
    position: absolute;
z-index: 1;
    top: 50%;
    transform: translate(0px,-50%);
}
.slide_page {
    width: 90%;
    height: 100%;
    margin: 0px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slide_btn {
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.slide_btn img,.slide_toggle img{
    width: 100%;
    height: 100%;
}
.slide_toggle_box{
    display: flex;
    width: 88%;
    height: 50px;
    align-items: center;
    position: absolute;
    top: 59%;
    transform: translate(-50%,-50%);
    left: 50%;
    justify-content: right;


}
.slide_toggle{

      width: 20px;
    height: 20px;
    text-align: center;
 
}

/* .content */
.content,
.content2 {


    width: 90%;
    height: 600px;
    margin: 0px auto;
    align-items: center;
    display: flex;
    justify-content: space-around;



}

.content2 {


    height: 500px;
    margin-top: 50px;

}

.content_box {
    width: 47%;
    height: 85%;
    background-color: aqua;
}

.content_box>a,
.content2_box>a {

    width: 100%;
    height: 100%;
    position: relative;

}

.content_box>a::after,
.content2_box>a::after {
    content: '';
    width: 100%;
    height: 10px;
    background-color: rgb(0, 72, 66);
    position: absolute;
    bottom: 0;
}

.content_img {

    width: 100%;
    height: 65%;
    background: antiquewhite;


}

.content2_img {

    width: 100%;
    height: 55%;
    background: antiquewhite;


}

.content_img img,
.content2_img img {


    width: 100%;
    height: 100%;



}

.content_text,
.content2_text {

    width: 100%;
    position: relative;
    height: 35%;
    background-color: #eeecec;
}

.content2_text {
    height: 45%;
}

.content_text::after,
.content2_text::after {

    content: '';
    width: 0%;
    position: absolute;
    height: 10px;
    right: 50%;
    background-color: rgb(236, 188, 49);
    bottom: 0;
    transition: 0.5s;

}

.content_text::before,
.content2_text::before {

    content: '';
    width: 0%;
    position: absolute;
    height: 10px;
    left: 50%;
    background-color: rgb(236, 188, 49);
    bottom: 0;

}

.content_box:hover .content_text::after,
.content2_box:hover .content2_text::after {

    content: '';
    width: 50%;
    position: absolute;

    background-color: rgb(236, 188, 49);

    z-index: 1;
}

.content_box:hover .content_text::before,
.content2_box:hover .content2_text::before {

    content: '';
    width: 50%;
    position: absolute;
    transition: 0.5s;
    background-color: rgb(236, 188, 49);
    z-index: 1;
}

.text1 {

    padding: 5%;
}

.text2 {
    display: flex;
    align-items: center;
    padding: 0 5%;
    position: absolute;
    bottom: 15%;
}

.xi-plus-square-o {

    color: rgb(246, 243, 243);
    font-size: 1.5em;
}

.content_box:hover .xi-plus-square-o,
.content2_box:hover .xi-plus-square-o {
    transition: 0.5s;
    color: rgb(236, 188, 49);
    font-size: 1.5em;


}

.content2_box {

    width: 31%;
    height: 95%;
    background-color: rgb(236, 188, 49);

}

/* .content3 */
.content3 {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    
}
.content3:hover.content3>div:nth-child(1){
    transform: scale(1.15);

    transition: 0.5s;

}
.content3>div:nth-child(1){
    background-image:url("./imgs/content3.png");
    width: 100%;
    transition: 0.5s;

    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.content3 img {
    width: 100%;
    height: 100%;
}

.content3_text {

    color: white;
    position: absolute;
    top: 0;
    width: 370px;
    height: 100%;
    background: rgba(55, 55, 55, 0.9);
    left: 22%;
    transform: translate(-50%, 0px);

}

.content3_text1:nth-child(1) {

    line-height: 40px;
   
    padding: 30% 10% 11% 10%

}
.content2_h2{    font-size: 0.89em; line-height: 40px;   padding: 20% 10% 11% 10%;}
.content2_p,.content3_text1:nth-child(2) {


    font-size: 1em;
    padding: 0% 8%;
    line-height: 26px;



}

.content3_text_btn {

cursor: pointer;
    position: absolute;
    bottom: 10%;
    margin: 0 10%;
    border: 1px solid;
    padding: 5% 15%;

}


/* content4 */

.content4 {

    display: flex;
    align-items: center;


    width: 100%;
    height: 450px;
    margin-top: 100px;


}

.content4_box,
.content5_box {


    width: 80%;
    display: flex;

    height: 100%;
    margin: 0px auto;

}

.content4_box_slide {

    width: 70%;
    height: 100%;

    position: relative;


}

.content4_box_slide a,
.content4_box_slide img {

    width: 100%;
    height: 100%;
}

.content4_box_slide a {
    position: absolute;
}

.content4_box_text {

    position: relative;
    width: 30%;
    height: 100%;
    background-color: #eeecec;


}

.content4_box_text>h1:nth-child(1) {


    padding: 10% 10% 3% 10%;

}

.content4_box_text>h1:nth-child(2) {



    padding: 2% 10%;


}

.content4_box_text p {


    padding: 5% 10%;
    line-height: 25px;

}

.content4_box_btn {

cursor: pointer;
    position: absolute;
    bottom: 10%;
    margin-left: 10%;
    border: 1px solid black;
    padding: 5% 15%;

}

/* .content5 */
.content5 {

    width: 100%;
    height: 400px;

    margin-top: 100px;
}

.content5_box {
    display: block;
}

.content5_box_text {
    height: 30px;
    padding: 2% 0%;
    position: relative;


}

.content5_box_text::after {
    content: '';
    width: 80%;
    height: 15px;
    top: 50%;
    right: 0%;
    position: absolute;
    background:  rgb(0, 72, 66);
    transform: translate(0%, -50%);

}

.content5_event {


    width: 100%;
    display: flex;
    height: calc(100% - 80px);

    align-items: center;
    justify-content: space-between;

}

.content5_event_box {

    transition: 0.5s;
    width: 32%;
    height: 90%;



}
.content5_event_box:hover{
    box-shadow: 5px 5px 11px 0px rgb(81, 80, 80);
    transition: 0.5s;
    margin-top: -15px;
}
.content5_event_box a{
    width: 100%;
    height: 100%;
}

.content5_event_img{
    width: 100%;
    height: 80%;

}
.content5_event_img img{
    width: 100%;
    height: 100%;
}
.content5_event_text{
    display: flex;
    width: 100%;
    height: 20%;
    background-color: #373737;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.content5_event_text h3,.content5_event_text i{
    padding: 5%;
    font-size: 1rem;
}

.content5_event_text i{

    font-size: 1.5rem;


}

/* footer */

footer{
    background-color: rgb(0, 72, 66);
    width: 100%;
color: white;
    margin-top: 50px;
    
    font-size: 0.8rem;



}
.footer_box{

    max-width: 1170px;
    height: 100%;
    margin: 0px auto;



}

.footer_text1{

    border-bottom: 1px solid gray;
    width: 100%;
    height: 65px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_text1>div:nth-child(1){

    

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 32%;


}
.footer_text1>div:nth-child(2){


    width: 20%;
    text-align: right;


}
.footer_text1>div:nth-child(2)>select{



    width: 130px;
    height: 30px;



}
.footer_text1>div>a{

    
    padding: 5% 2%;

}
.footer_text2{
    width: 100%;


    line-height: 30px;
    padding: 3% 0% 0% 0%;

}

.footer_text2>div{
    text-align: center;
}
.footer_box span{
    position: relative;
    display: inline-block;
}
.footer_box span::after{
    content: "";
    width: 1px;
    height: 10px;
    transform: translate(0px, -50%);
    top: 50%;
    right: -3px;
    position: absolute;
    background-color: #373737;
}

.sns{
    width: 100%;
    display: flex;
    height: 90px;

    align-items: center;
    justify-content: center;
}

.insta{

  
    width: 40px;
    height: 40px;
  
}

.insta img{
    width: 100%;
    height: 100%;
}